<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.zipkim.domain.testUser.TestUserMapper">
    <select id="findAll" resultType="com.kb.zipkim.domain.testUser.TestUser">
        SELECT * FROM test_users;
    </select>
</mapper>
